$color-white: #fff;
$color-black: #111111;
$color-classic: #34568B;
$color-classic-izis: #5B5EA6;
$color-sand-dollar: #DFCFBE;
$color-cerulean-blue: #98B4D4;
$color-medium-purple: #d0bdf4;
$color-ice-cold: #a0d2eb;
