.text-bold {
  font-weight: bold;
}

.cursor-pointer {
  cursor: pointer;
}

.no-decoration {
  text-decoration: none;
  color: v(color-text);

  &:hover {
    text-decoration: none;
    color: v(color-text);
  }

  &:active {
    text-decoration: none;
    color: v(color-text);
  }

  &:visited {
    text-decoration: none;
    color: v(color-text);
  }
}
