@keyframes rotate {
  46% {
    transform: rotateZ(0);
  }
  50% {
    transform: rotateZ(180deg) translateY(-20px);
  }
  54% {
    transform: rotateZ(360deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.loader {
  width: 2rem;
  height: 2rem;
  animation: rotate 10s infinite linear;
}
