<div class="container p-0 m-0 w-100 h-100 d-flex align-items-center">
  <div class="game-panel d-flex gap-3 position-absolute align-items-center justify-content-start px-2">
    <a class="no-decoration" routerLink="../"><i class="bi bi-arrow-left-circle h1 cursor-pointer"></i></a>
    <i class="bi bi-pause-circle cursor-pointer h1 m-0" (click)="updateGameStatus()"></i>
    <div *ngIf="!isPausedGame">{{ PLAYED_TIME + TIME | date:"mm:ss:SS"}}</div>
    <div *ngIf="isPausedGame">{{ PLAYED_TIME | date:"mm:ss:SS"}}</div>
  </div>
  <div class="game-stopper d-flex justify-content-center align-items-center" (click)="updateGameStatus()" *ngIf="isPausedGame && !isLoading">
    <i class="bi bi-play-circle play-icon cursor-pointer"></i>
  </div>
  <div class="position-absolute top-0 left-0 d-flex justify-content-center align-items-center w-100 h-100" *ngIf="isLoading">
    <app-loader [isLoading]="isLoading"></app-loader>
  </div>
  <canvas *ngIf="!isLoading" #canvas class="canvas"></canvas>
</div>

